{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Food Court{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header>
    <nav class="navbar">

        <a href="{% url 'home' %}" class="logo">
            🍴 Food Court
        </a>

        <div class="nav-links">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'menu' %}">Menu</a>
            <a href="{% url 'order' %}">Order</a>
            <a href="{% url 'contact' %}">About & Contact</a>
        </div>

    </nav>
</header>


<main>
    {% block content %}
    {% endblock %}
</main>


<footer>
    <div class="footer-content">
        <h3>🍴 Food Court</h3>
        <p>Delicious food, great moments.</p>
        <p>© 2026 Food Court. All Rights Reserved.</p>
    </div>
</footer>

</body>
</html>