{% extends 'base.html' %}

{% block title %}Order Successful | Food Court{% endblock %}

{% block content %}

<section class="success-section">

    <div class="success-box">

        <h1>🎉 Order Placed Successfully!</h1>

        <p>Thank you, {{ order.customer_name }}.</p>

        <div class="order-details">
            <p><strong>Order ID:</strong> #{{ order.id }}</p>
            <p><strong>Total:</strong> ₹{{ order.total_amount }}</p>
            <p><strong>Status:</strong> {{ order.status }}</p>
            <p><strong>Phone:</strong> {{ order.phone }}</p>
        </div>

        <a href="{% url 'menu' %}" class="btn">
            Order More Food
        </a>

        <a href="{% url 'home' %}" class="btn secondary-btn">
            Back to Home
        </a>

    </div>

</section>

{% endblock %}